Thumbs.db
.DS_Store
.idea/
*.iml
/build
/release/
.gradle
.caches/
*.log
*.apk
*.ap_
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx
local.properties
caches/
daemon/
jdks/
wrapper/
.tmp/
native/
kotlin-profile/
