Thumbs.db
.DS_Store
.idea/
*.iml
/build
/release/
.gradle
.caches/
*.log
*.apk
*.ap_
/captures
.externalNativeBuild
.cxx
local.properties
caches/
daemon/
jdks/
wrapper/
.tmp/
native/
kotlin-profile/
app/src/main/assets/service-account.json
sentry.properties
app/google-services.json
.gitattributes
gradle.properties